@import "./ScrollDown.scss";
@import "./Hero.scss";
@import "./ColorList.scss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Inter", sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.copy {
  margin: 0;

  &:hover {
    cursor: pointer;
  }

  &:active {
    text-decoration: underline;
  }
}

footer {
  color: white;
  text-align: center;
  background-color: black;

  p {
    margin: 0;
    padding: 1rem 0;
  }

  a {
    color: orange;
  }
}
